<?xml version='1.0' encoding='utf-8'?>
<plugin id="blocked-contacts-fetcher" version="true"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BlockedContactsFetcher</name>
    <js-module name="BlockedContactsFetcher" src="www/BlockedContactsFetcher.js">
        <clobbers target="cordova.plugins.BlockedContactsFetcher" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BlockedContactsFetcher">
                <param name="android-package" value="blockedcontactsfetcher.BlockedContactsFetcher" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/BlockedContactsFetcher.java" target-dir="src/blockedcontactsfetcher/BlockedContactsFetcher" />
    </platform>
</plugin>